<footer>
    <p>&copy; Elige nuestra empresa y pasarás un día increíble. No olvides que tenemos todas las protecciones necesarias por tu seguridad. Estamos ubicados en el Estado Aragua, Playa Grande.</p>
    <p>#AraguaSports #Cyclists #Kayaks</p>
    <div class="social-media">
       <p> Siguenos en nuestras diferentes Redes Sociales.</p>
        <a href="#" target="_blank" aria-label="Facebook"><img src="/img/facebook.png" alt="Facebook"></a>
        <a href="#" target="_blank" aria-label="Instragram"><img src="/img/instragram.png" alt="Instragram"></a>
        <a href="#" target="_blank" aria-label="TikTok"><img src="/img/tik-tok.png" alt="TikTok"></a>
    </div>
</footer>

<style>
.social-media {
    display: flex; /* Para que los iconos se muestren en línea horizontalmente */
    justify-content: center; /* Centra los iconos horizontalmente */
    margin-top: 10px; /* Espacio entre el texto del footer y los iconos */
}

.social-media a {
    margin: 0 10px; /* Espacio entre cada icono */
}

.social-media img {
    width: 30px; /* Establece el ancho deseado */
    height: 30px; /* Establece el alto deseado */
    display: block; /* Evita espacios extra debajo de la imagen */
}
</style>