<link rel="stylesheet" href="css/styles.css">


<style>
  nav {
    text-align: center;
    background-color: #005f73; /* Azul más oscuro */
    padding: 10px 0;
  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
  }
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  nav a {
    text-decoration: none;
    color: #fff; /* Texto blanco para contrastar */
  }

</style>

<nav>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/servicios">Servicios</a></li>
    <li><a href="/contacto">Contacto</a></li>
    <li><a href="/admin/contacts">Ver Contactos</a></li>
  </ul>
</nav>