<link rel="stylesheet" href="/css/header.css">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MPY841KFTW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MPY841KFTW');
    </script>
    </head>
<nav>
    <button class="menu-toggle" aria-label="Abrir menú">☰</button>

    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/servicios">Servicios</a></li>
        <li><a href="/contacto">Contacto</a></li>
        <li><a href="/admin/contacts">Ver Contactos</a></li>
    </ul>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const menuToggle = document.querySelector('.menu-toggle');
        const navUl = document.querySelector('nav ul'); // Selecciona la lista de navegación

        if (menuToggle && navUl) {
            menuToggle.addEventListener('click', () => {
                navUl.classList.toggle('active'); // Alterna la clase 'active' para mostrar/ocultar el menú
            });

            document.addEventListener('click', (event) => {
                // Si el clic no fue en el botón de hamburguesa ni dentro del menú, y el menú está abierto
                if (!menuToggle.contains(event.target) && !navUl.contains(event.target) && navUl.classList.contains('active')) {
                    navUl.classList.remove('active');
                }
            });
        }
    });
</script>  