<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión - Alquiler de Equipo deportivo</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/login.css"> 

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MPY841KFTW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-MPY841KFTW');
    </script>
</head>
<body>
    <%- include('fragmen/header.ejs') %>

<main class="login-main">
    <div class="container login-container">
        <h1>Iniciar Sesión</h1>
    <% if (success) { %>
        <p class="success-message"><%= success %></p>
    <% } %>
    <% if (error) { %>
        <p class="error-message"><%= error %></p>
    <% } %>

 <form action="/login" method="POST" class="login-form">
    <div class="form-group">
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" required>  
    </div>
                
    <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
    </div>
        <button type="submit" class="btn">Acceder</button>
        
</form>

    <div class="oauth-section">
        <p>O iniciar sesión con:</p>
        <a href="/auth/google" class="btn google-btn">
            <span class="icon">G</span> Iniciar con Google
        </a>
                <!-- PuedO añadir más botones para otros proveedores de OAuth aquí -->
    </div>

        <p class="register-link-paragraph">
        ¿No tienes una cuenta? Pregunta a un administrador para registrarte.
        </p>
        
    </div>
    </main>

    <%- include('fragmen/footer.ejs') %>

</body>
</html>