<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/servicios.css">

</head>
<body>
    <link rel="stylesheet" href="css/styles.css"> 
    <%- include('fragmen/header.ejs')%>
    <main>
        <section id="equipo-bicicletas" class="service-section">
            <div class="container"> <h2>Alquiler de Bicicletas y Equipamiento</h2> <div class="service-description">
                    <p>Ofrecemos todo lo necesario para tu aventura en bicicleta: alquiler de bicicletas (montañeras y de paseo) y equipamiento de seguridad (cascos, rodilleras, coderas, guantes, lentes) y kits básicos de emergencia.</p>
                </div>
    
                <div class="service-options">
                     <h3>Opciones De Tipos de Bicicletas:</h3> <ul>
                         <li>Alquiler de Bicicletas Montañeras</li>
                         <li>Alquiler de Bicicletas de Paseo</li>
                         <li>Rutas Guiadas en Bicicleta</li> </ul>
                </div>
    
                <div class="service-images">
                     <img src="img/DDD.jpg" alt="Equipo de protección para ciclistas: cascos, rodilleras, coderas y guantes.">
                     <img src="img/ESCU.jpg" alt="Mochila con un kit básico de emergencia para actividades al aire libre.">
                </div>
                    
            <section id="Precios del Alquiler de las bicicletas">
                <h2>Precios</h2>
                <p>Opciones accesibles para disfrutar de un dia genial y soleado:</p>
                <ul>
                <li>Bicicleta de montaña: $8 por día</li>
                <li>Bicicleta de paseo: $6 por día</li>
                <li>Ruta guiada: $12 por persona</li>
                </ul>
                </section>
                <div class="cta-button" style="text-align: center; margin-top: 20px;">
                 <a href="/payment" class="btn">  Reservar y Pagar</a> </div>
            </div>
            </section>
    
            <section id="equipo-kayaks" class="service-section">
            <div class="container"> <h2>Alquiler de Kayaks y Equipamiento</h2> <div class="service-description">
                     <p>Ofrecemos equipamiento completo para tu experiencia en kayak: calzado antideslizante, silbato de emergencias, cascos, chaleco salvavidas  todo lo necesario para tu aventura.</p>
                 </div>
    
                 <div class="service-options">
                      <h3>Tipos de Kayaks y Recorridos:</h3> <ul>
                          <li>Alquiler de Kayaks Tandem</li> 
                          <li>Alquiler de Kayaks de Paseo</li> 
                          <li>Rutas Guiadas en Kayak</li> </ul>
                 </div>
                 <div class="service-images">
                     <img src="img/kaya.jpg" alt="Varios kayaks en la orilla listos para ser usados en un río o lago.">
                     </div>
                    
                <section id="Precios del Alquiler de los Kayaks">
                <h2>Precios</h2>
                <p>Opciones accesibles para disfrutar de un dia traquilo y emocionante:</p>
            <ul>
                <li>kayaks tandem: $10 por día</li>
                <li>kayaks de paseo: $5 por día</li>
                <li>Ruta guiada: $15 por persona</li>
            </ul>
        </section>
                 <div class="cta-button" style="text-align: center; margin-top: 20px;">
                     <a href="/equipo/kayaks" class="btn"> Reservar y Pagar </a> </div>
            </div>
        </section>
    
        <section id="ruta-puerto-colombia" class="service-section tour-section recorrido-puerto-colombia">
            <div class="container"> <h2>Recorrido Turístico por Puerto Colombia</h2> <div class="service-description">
                     <p>¡Vive una experiencia única! Conoce el tradicional chocolate artesanal, disfruta de un delicioso desayuno frente al mar y un almuerzo típico en la playa (pescado frito, ensalada, patacones y más) mientras recorres el Malecón y Puerto Colombia.</p> </div>
    
                 <div class="service-includes"> <h3>Este Recorrido Incluye:</h3> <ul>
                         <li>Recorrido guiado por el Malecón y Puerto Colombia</li> 
                         <li>Degustación de chocolate artesanal local</li>
                         <li>Desayuno completo frente al mar</li>
                         <li>Almuerzo típico en la playa (Pescado Sofrito,Ensalada, Patacones (Plano verde), Foforera (Sopa que contiene Pulpo,Cangrejo,Camarones,etc), Ceviche entre otras comidas.</li>
                     </ul>
                 </div>
                      <div class="service-images">
                     <img src="img/comida.jpg" alt="Varios kayaks en la orilla listos para ser usados en un río o lago.">
                     </div><section id="precios-recorrido">
            <h2>Precios del Recorrido</h2>
            <p>Opciones accesibles para disfrutar de esta experiencia gastronómica y turística:</p>
    <ul> <li>Si son más de 5 personas: $45</li>
         <li>Si son 10 personas: $78</li>
    </ul>
        </section>
                 <div class="cta-button" style="text-align: center; margin-top: 20px;">
                      <a href="/rutas/puerto-colombia" class="btn">Reservar y Pagar Servicio</a> </div>
                 </div>
        </section>
    
        </main>
    <%- include('fragmen/footer.ejs')%>
</body>
</html>